<div class="ui card">
  <div class="content header">
    <h2 class="ui blue header">Geo location</h2>
    <div class="ui basic green button" (click)="OnClick()">Get Location</div>
  </div>
  <ng-container *ngIf="locationChecked">

    <div class="image">
      <iframe class="map" [src]="sanitizer.bypassSecurityTrustResourceUrl(mapUrl)" width="100%" height="450"
        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="content" *ngIf="locData">
      Geo location is based on your IP address {{locData.ip}}.
      No location access is needed. The location based on IP address is 90% accurate.
    </div>
  </ng-container>
</div>

<div class="ui ignored info attached message">
  <p> Get the approximate location based on you IP address</p>
</div>